<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actualizar Mascota</title>
</head>
<body>
    <h1>Actualizar Mascota</h1>

    <form th:action="@{/api/pets/update/{id}(id=${pet.id}})}" method="post">
        <input type="hiden" name="_method" value="put">

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" th:value="${pet.name}}" required>
        <hr>

        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" th:value="${pet.age}}" min="0" max="25" required>
        <hr>

        <label for="species">Especie:</label>
        <input type="text" id="species" name="species" th:value="${pet.species}}" required>
        <hr>

        <label for="owner">Dueño:</label>
        <select id="owner" name="ownerId" required>
            <option th:each="owner : {owners}" th:value="{$owner.id}" th.text="{$owner.name}"
                    th:selected="${owner.id eq pet.owner.id}}"></option>
        </select>
        <br>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>